.myButton {
    box-shadow:inset 0px 1px 0px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #293131 100%);
    background-color:#768d87;
    border-radius:6px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    margin: 0 10px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b665e;
    display: inline-block;
}
.myButton:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}

.Quiz-body {
    background-color: #5fb37b; /**/
    min-height: 100vh;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 30px;
  }

.link-text {
color: white;
text-decoration: none;
}
.link-text:hover {
color: #222;
text-decoration: none;
}

.readPassage {
    background-color: rgb(231, 230, 230);
    text-align: left;
    width: 90%;
    border: 12px solid green;
    padding: 30px;
    margin: 20px;
    color: black
}

.review {
    background-color: rgb(231, 230, 230);
    text-align: left;
    width: 90%;
    border: 2px solid black;
    padding: 30px;
    margin: 20px;
    color: black
}

.Quiz {
    background-color: #72ca8f; /**/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: #222;
    padding: 14px 14px;
}

.Quiz-body {
    float: left !important;
}

.quiz {
    width: 90%;
}

.QuizFormElement {
    padding: 14px 14px;
}
.QuizFormLabel {
    padding: 14px 14px;
    font-weight: bold;
}
